# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
db.sqlite3
*.log

# Node / React
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/App.podspec
ios/Flutter/Generated.podspec
android/local.properties
android/key.properties
android/app/src/main/res/values/strings.xml
android/.gradle
android/app/build.gradle
android/settings.gradle
*.swp
*.lock
.metadata
.idea/
*.iml

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Project Specific
backend/firebase_key.json
backend/gcp-key.json
backend/celerybeat-schedule
clinix_mobile/android/app/google-services.json
*.txt
*.log
build_error.txt
build_log.txt
final_output.txt
analysis.txt
